CREATE TABLE IF NOT EXISTS management_reports (id UUID DEFAULT gen_random_uuid() PRIMARY KEY, date DATE NOT NULL, author_id UUID NOT NULL, author_name TEXT, role TEXT, summary TEXT, issues TEXT, next_steps TEXT, created_at TIMESTAMPTZ DEFAULT NOW());
